<table>
    <thead>
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="tbodySW"></tbody>
</table>

<div class="modal fade" id="modalPokemon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Data Pokemon</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-5 text-left">
                        <img src="" alt="" class="rounded-circle" id="img" style="max-width: 150px; border: 2px solid #000;">
                    </div>
                    <div class="col-md-7 text-left">
                        <p class="mb-1">Name  : <span id="name"></span></p>
                        <p class="mb-1">Weight: <span id="weight"></span></p>
                        <p class="mb-1">Height: <span id="height"></span></p>
                        <p class="mb-1"> Abilities </p>
                        <ul id="abilities"></ul>
                    </div>
                </div>

                <p>Base Experience</p>
                <div class="progress mt-3" role="progressbar" aria-label="Base Experience" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" id="experience-progress" style="width: 0%;">
                        <p class="progress-text mb-0"></p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>