@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <p id="paragraf1" class="paragraf">
                Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
            </p>
        </div>
        <div class="col-sm-4">
            <p id="paragraf2" class="paragrafdua">
                Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
            </p>
        </div>
        <div class="col-sm-4">
            <p id="paragraf3" class="paragraftiga">
                Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
            </p>
        </div>
    </div>
</div>*@

<div class="row">
    <div class="col" id="column">
        <p id="paragraf1" class="paragrafsatu">
            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
        </p>
    </div>
    <div class="col">
        <div class="row" id="column2">
            <p id="paragraf2" class="paragrafdua">
                Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
            </p>
        </div>
        <div class="row" id="column2">
            <p id="paragraf3" class="paragraftiga">
                Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
            </p>
        </div>
    </div>
</div>
<br />

<div id="button">
    <button class="btn" onclick="changeText()">Ubah Tulisan</button>
    <button class="btn" onclick="changeColor()">Ubah Warna</button>
    <button class="btn" onclick="changeTextColor()">Ubah Warna Tulisan</button>
</div>
